#main{
	border: 1px solid black;
	padding:5px;
	padding-top: 20px;
	background-attachment: gray;
	margin-top: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.25em;
	position: relative; 
}

#menu{
	background-color: #264373;
	font-size: 32px;
	font-style: bold; 
	font-family: lemonada; 
	text-align: center;
	color: white;
	width: 45%;
}


.class1{
	text-align: center;
	font-family: lemonada;
	color: black;
	font-size: 25px;
	background-color: #baa73c;
	width: 45%;
	background align-self: center;
	
}


*{
	box-sizing: border-box;
}

div{
	display:block;
}

body{
	font-family:sans-serif; 
}

.class2{
	text-align: center;
	font-family: lemonada;
	font-size: 25px;
}